
body, html {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
}

.background-header {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 80px;
}

#logo {
    width: 15%;
    text-align: right;
    padding: 20px;
}

#titolo-pagina {
    font-weight:bolder;
    font-size: 35px;
}

#the-booleaner {
    color:#2bade6
}

.text-grey {
    color: #959595;
}

.photo-description {
    font-size: 13px;
    font-weight: bold;

}

.yellow-text {
    background-color: #fdfd00;
}

ul {
    margin-left: 15px;
    padding: 0;
}


                          /* TABLE SECTION */

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

    
.tabel-head {
    background-color:#20a9e5;
    color: white;
}

.table-backgroundcolor {
    background-color: #b1e5f2;
}

td {
    width: 20px;
    height: 40px;
}

                            /* FOOTER SECTION*/


.stacked-image {
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }

.immagine1 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.immagine2 {
    position: absolute;
    top: 230px;
    left: 16px;
}